# ocr.space API Key 
OCR_SPACE_KEY=

# Google Drive OAuth 2.0
client_id=
project_id=
client_secret=
redirect_uris=http://localhost

# MS Azure
MS_AZ_KEY_1=
MS_AZ_KEY_2=
MS_AZ_Region=
MS_AZ_Endpoint=
# Documintation
MS_AZ_OCR_Dox=https://learn.microsoft.com/en-us/rest/api/computervision/recognize-printed-text/recognize-printed-text?view=rest-computervision-v3.2&tabs=HTTP

# AWS Textract
AWS_Access_key=
AWS_Secret_access_key=

# Google Drive Folder (to store invoces images)
GOOGLE_DRIVE_FOLDER_ID=

# Gemini API Key LLM (Google / Gemini)
GEMINI_API_KEY=
Gemini_Model=gemini-2.5-flash

# App Config
DEBUG_MODE=true # logging 
BACKEND_PORT=8000
CORS_ORIGINS=http://localhost:5173,http://localhost:8080 # Use "," and add the frontend URL

# Data Base
POSTGRES_DATABASE=postgres
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PRISMA_URL=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
SUPABASE_ANON_KEY=
SUPABASE_JWT_SECRET=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_PUBLIC_SUPABASE_ANON_KEY=
VITE_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
VITE_PUBLIC_SUPABASE_URL=

# Add the superadmin credentials to be added to the database
SUPER_ADMIN_NAME=""
SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_PASSWORD=""

# JWT Auth  
JWT_SECRET=secret-key-change-in-prod-2026

# (token.json is created automatically on first run after browser consent)
# Copy and paste here
# it will look like this: GOOGLE_TOKEN_JSON={"token": "", "refresh_token": "", "token_uri": "https://oauth2.googleapis.com/token", "client_id": "", "client_secret": "", "scopes": ["https://www.googleapis.com/auth/drive", "https://www.googleapis.com/auth/cloud-vision"], "universe_domain": "googleapis.com", "account": "", "expiry": ""}
GOOGLE_TOKEN_JSON=